.navbar-element {
    list-style: none;
}

.navbar {
    background-color: #34495e;
}

#container {
    margin-top: 50px;
}

#pagetabs {
   color: #fff;
}

.displayListItem span{
    float: right;
    margin-left: 50%;
}